<!DOCTYPE html>
<html>
<head>
	<link href="/styles.css" rel="stylesheet" media="all" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>output</title>
</head>

<body id="b2">
	<h1><%= @title %></h1>
	<p><%= @message %></p>
	<br>	

	<table align="center">
		<% @logfile.each_line do |line| %>
  		<tr><td><%= line %></td></tr>
		<% end %>
	</table>

<%= @logfile.close %>
    

	<p><a href="/"><%= @name_page %></a></p>


</body>
</html>